@font-face {
  font-family: "Plumb Condensed";
  src: local("Plumb Condensed"),
  url(/fonts/PlumbCondensedRegular.ttf) format("truetype");
}

@font-face {
  font-family: "Open Sans Condensed Bold";
  src: local("Plumb Condensed"),
  url(/fonts/OpenSansCondensedBold.ttf) format("truetype");
}