@import "./layouts/asv.layout";
@import "./utilities";
@import 'vue3-carousel/dist/carousel.css';

body {
  font-family: 'Open Sans Condensed', sans-serif;
  overflow-x: hidden;
}
blockquote {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #000;
  color: #fff;
  font-style: italic;
  padding: 30px 30px 30px 138px;
  min-height: 170px;
  @media (max-width: 1280px) {
    padding: 30px 30px 30px 108px;
  }
  &::before {
    position: absolute;
    display: block;
    content: url("/assets/images/bloquote.svg");
    width: 78px;
    height: auto;
    top: 15%;
    left: 2%;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans Condensed Bold",sans-serif;
  line-height: normal !important;
  @media (max-width: 960px) {
    font-size: 75% !important;
  }
}
h4 {
  font-size: 21px;
}
article {
  & p, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 15px !important;
  }
  & p {
    font-size: 1rem !important;
    & img {
      display: block;
      margin-outside: 15px;
    }
  }
  & ul {
    list-style: circle !important;
    margin-bottom: 15px !important;
    & li {
      display: flex;
      flex-flow: row;
      align-items: center;
      & p {
        margin-bottom: 0 !important;
        &::before {
          content: "•";
          margin-right: 10px;
        }
      }
      &::marker {
        color: #000 !important;
        font-size: 0.8rem !important;
      }
    }
  }
}
@for $i from 1 to 72 {
  .font-size-#{$i * 1} {
    font-size: #{$i * 1}px !important;
    @media (max-width: 320px) {
      font-size: #{$i * 0.65}px !important;
    }
    @media (max-width: 920px) {
      font-size: #{$i * 0.8}px !important;
    }
  }
  .letter-spacing-#{$i} {
    letter-spacing: #{$i * 0.1}px !important;
  }
  .z-index-#{$i} {
    z-index: #{$i};
  }
}

@for $i from 1 to 1000 {
  .flex-column-gap-#{$i * 1} {
    column-gap: #{$i * 1}px;
  }
  .flex-row-gap-#{$i} {
    row-gap: #{$i * 1}px;
  }
  .grid-column-gap-#{$i * 1} {
    grid-column-gap: #{$i * 1}px;
  }
  .grid-row-gap-#{$i} {
    grid-row-gap: #{$i * 1}px;
  }
  .grid-gap-#{$i} {
    grid-gap: #{$i * 1}px;
  }
}

@for $i from 1 to 100 {
  .w-#{$i * 1} {
    width: #{$i * 1%};
  }
  .h-#{$i} {
    height: #{$i * 1%};
  }
}

.v-card__overlay {
  opacity: 0 !important;
}
.v-field--variant-outlined {
  &.v-field--focused {
    & .v-field__outline {
      border-width: 5px !important;
    }
  }
}
