.text-initial {
  text-transform: initial;
}
.d-grid {
  display: grid;
}
table {
  width: 100%;
  border: none;
  margin-bottom: 20px;
  border-collapse: collapse;
}
table thead th {
  font-weight: bold;
  text-align: left;
  vertical-align: center;
  padding: 10px 15px;
  background: #d8d8d8;
  font-size: 14px;
  border-left: 1px solid #716561;
  border-right: 1px solid #716561;
  border-top: 2px solid #716561;
  border-bottom: 2px solid #716561;
}
table tbody td {
  text-align: center;
  border-left: 1px solid #716561;
  border-right: 1px solid #716561;
  border-top: 2px solid #716561;
  border-bottom: 2px solid #716561;
  padding: 10px 15px;
  font-size: 14px;
  vertical-align: middle;
  & p {
    margin-bottom: 0 !important;
  }
}
.v-input__control {
 & .v-field__field {
   background-color: #444;
 }
}
.v-navigation-drawer__content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100% !important;
}
.publication {
  & .v-card-title {
    text-transform: uppercase !important;
    display: block !important;
    flex: none !important;
    font-size: 1.25rem !important;
    font-weight: 700 !important;
    -webkit-hyphens: none !important;
    hyphens: none !important;
    letter-spacing: normal !important;
    min-width: 0 !important;
    overflow-wrap: break-word !important;
    overflow: hidden !important;
    padding: 0.5rem 1rem !important;
    white-space: normal !important;
    word-break: break-word !important;
    word-wrap: break-word !important;
    @media (max-width: 920px) {
      font-size: .85rem !important;
    }
  }
  & .v-card-subtitle {
    text-transform: uppercase !important;
    display: block !important;
    flex: none !important;
    -webkit-hyphens: none !important;
    hyphens: none !important;
    letter-spacing: normal !important;
    min-width: 0 !important;
    overflow-wrap: break-word !important;
    overflow: hidden !important;
    padding: 0.5rem 1rem !important;
    white-space: normal !important;
    word-break: break-word !important;
    word-wrap: break-word !important;
    @media (max-width: 920px) {
      font-size: .65rem !important;
      font-weight: 400 !important;
      color: #fff !important;
    }
  }

}
.publication_details, .about {
  & .v-card-title, .v-card-subtitle {
    text-transform: uppercase !important;
    display: block !important;
    flex: none !important;
    -webkit-hyphens: none !important;
    hyphens: none !important;
    letter-spacing: normal !important;
    min-width: 0 !important;
    overflow-wrap: break-word !important;
    overflow: hidden !important;
    white-space: normal !important;
    word-break: break-word !important;
    word-wrap: break-word !important;
  }

}

.carousel {
  &__viewport {
    @media (orientation: landscape) {
      height: 45vh !important;
    }
  }
  &__prev {
    @media (orientation: landscape) {
      left: 28% !important
    }
  }
  &__next {
    @media (orientation: landscape) {
      right: 28% !important
    }
  }
}